.navbar {
    padding-top: 0.8rem;
    padding-bottom: 1rem;
}
.container-fluid {
    padding-left: 45px;
}
.navbar-nav { 
    margin-left: auto; 
} 

@media only screen and (max-width: 600px) {
    .container-fluid {
        padding-left: 15px;
    }
}